<nav class="navbar navbar-expand-lg bg-dark border border-bottom-1 border-start-0 border-top-0 border-end-0 ">
    <div class="container">
      <a class="navbar-brand text-light" href="{% url 'home' %}">My Database</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> 
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if user.is_authenticated %}
          
          <li class="nav-item">
            <a class="nav-link text-light active" aria-current="page" href="{% url 'home' %}">Bosh sahifa</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link text-light active" aria-current="page" href="{% url 'stats' %}">Statistika</a>
          </li>
          
          <!-------------
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
         -------------->
          <li class="nav-item">
            <a class="nav-link text-light" href="{% url 'account_logout' %}">Logout</a>
          </li>

         {% else %}
          <li class="nav-item">
            <a class="nav-link text-light" href="{% url 'account_login' %}">Login</a>
          </li>
          {% endif %}
          <!---------
          <li class="nav-item">
            <a class="nav-link text-light">{{user.username}}</a>
          </li>
          --------->
        </ul>
        <form class="d-flex align-items-center" role="search">
          <input class="form-control me-2" type="search" placeholder="qidirish..." aria-label="Search">
          <button class="btn btn-success" type="submit">Qidirish</button>
          <button class="btn btn-warning mx-1" type="submit">Account</button>
        </form>
      </div>
    </div>
  </nav>